/* MAIN STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #7ae7c7;
}

main {
    width: 960px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #6c809a;
    color: #ffffff;
    overflow-y: auto;
    border-radius: 15px;
    -webkit-box-shadow: 11px 13px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 16px 0px rgba(0,0,0,0.75);
}

/* BODY STYLES */

.todo {
    width: 870px;
    height: 750px;
}

.todo__header {
    text-align: center;
    padding: 20px;
}

.todo__title {
    padding: 20px;
}

.todo__input {
    width: 100%;
    padding: 25px 20px;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #6e675f;
}

.todo__list {
    width: 100%;
    padding: 10px 20px;
}

.todo__item {
    list-style-type: none;
    padding: 15px 20px;
    border-bottom: 2px solid #e3b23c;
    display: flex;
    justify-content: space-between;
    transition: 0.2s all ease-in-out;
    position: relative;
}

.todo__item:hover {
    cursor: default;
    background-color: #434f5e;
}

.fa-times {
    color: #ffffff;
    position: absolute;
    z-index: 10;
    right: 20px;
    transition: 0.2s all ease;
}

.fa-times:hover {
    cursor: pointer;
    transform: scale(1.3);
}

/* TRIGGERS WHEN A TASK IS CLICKED */
.done {
    color: #6e675f;
    border-bottom: 2px solid #a6832e;
    text-decoration: line-through;
}


@media (max-width: 1366px) {
    main {
        width: 768px;
        height: 560px;
    }

    .todo {
        width: 700px;
        height: 500px;
    }
}

@media (max-width: 376px) {
    main {
        width: 300px;
        height: 560px;
        overflow: auto;
        font-size: 18px;
    }

    .todo {
        width: 280px;
    }

    .todo__title {
        font-size: 2.1rem;
    }
}